html { 
    background: url(../homepageshuffle/1.jpg) no-repeat center center fixed; 
    -webkit-background-size: 100vw 100vh;
    -moz-background-size: 100vw 100vh;
    -o-background-size: 100vw 100vh;
    background-size: 100vw 100vh;

  }

.clock{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 4vw;
    letter-spacing: 7px;
    
   


}
.greet{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-weight: bold;
    font-size: 2.5vw;
    letter-spacing: 7px;
    
   


}
#motivation {
    color: white;
    font-weight: bold;
    top: 90%;
    font-size: 1.8vw;

}
