html { 
    background: url(../homepageshuffle/1.jpg) no-repeat center center fixed; 
    -webkit-background-size: 1920px 1080px;;
    -moz-background-size: 1920px 1080px;;
    -o-background-size: 1920px 1080px;;
    background-size: 1920px 1080px;

  }